 <img alt="Picturesque Home" data-image-url="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/25681-86e324d87449b1f07afd358cc62bbbb8.jpg" height="700" width="1600" src="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/25681-86e324d87449b1f07afd358cc62bbbb8.jpg">
<section class="main-search">
  <%= render 'shared/errors' %>
  <h1>Find a Place to Stay</h1>
  <%= render "shared/search_form" %>
</section>
<footer class="group">
  <ul>
    <li>
      <h3>Travel</h3>
      <p>Rent peoples' extra beds, extra rooms, extra houses.  Travel for less and experience more</p>
    </li>
    <li>
      <h3>Host</h3>
    <p>Earn money by renting out your space and save up for your next vacation</p>
    </li>
    <li>
      <h3>About</h3>
      <p>A sample web application based on airbnb.  Created by <a href="http://www.linkedin.com/pub/katherine-wallace/82/41/45a">Katherine Wallace</a></p>
    </li>
  </ul>
</footer>
