<%= render "listing_nav" %>
<h3>This apartment is currently available for the following dates:</h3>

<ul>
  <% @listing.date_ranges.each do |range| %>
  <li>From: <%= range.start_date %>  to: <%= range.end_date %></li>
  <% end %>
</ul>