<%= render "listing_nav" %>
<section class="content-bar">
<% if @ranges.nil? %>
  <p>This apartment is currently unavailable</p>
<% else %>

  <h3>This apartment is currently available for the following dates:</h3>
  <p>
  <ul>
    <% @ranges.each do |range| %>
    <li>From: <span class="start-date"><%= range[0] %></span>  to: <span class="end-date"><%= range[1] %></span></li>
    <% end %>
  </ul>
  </p>
<% end %>
</section>
<div class="calendar" id="listing-calendar"></div>

<!-- <script type="application/json" id="bootstrapped-ranges">
  <%#= @ranges.to_json.html_safe %>
</script> -->

