<%= render "listing_nav" %>
<% if @ranges.nil? %>
  <p>This apartment is currently unavailable</p>
<% else %>
  <h3>This apartment is currently available for the following dates:</h3>

  <ul>
    <% @ranges.each do |range| %>
    <li>From: <%= range[0] %>  to: <%= range[1] %></li>
    <% end %>
  </ul>
<% end %>