<section class="content-bar wide-list">
  <h2>Your Notifications</h2>
  <ul class="rep-content">
  <% @notifications.each do |notification| %>
    <li>
      <% if notification.new %>
        <div class="dot"><%= image_tag "unread.png" %></div>
      <% end %>
      <%= notification.message %>

      <a href="<%= notification.url_message[1] %>" class="btn"><%= notification.url_message[0] %></a></li>
    </li>
<% end %>
  </ul>
</section>