/* Reset styles */

html, body, header, h1, h2, nav, ul, li, a, footer, div, p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="password"],
input[type="submit"],
button,
textarea {
  background: trasparent;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  display: inline-block;
  border: 0;
  -webkit-appearance: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  color: #505859;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #009bf5;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

.listing-nav-bar {
  margin: 10px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0 0 0 0;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 0;
}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Nav Bar */

.header {
  background: white;
  border-bottom: 2px solid lightgray;
}

.header-wrap {
  width: 1100px;
}

.header-wrap > h2 {
  float: left;
  display: block;
  color: inherit;
}

.header-wrap > #logo > a {
  display: block;
  color: #009bf5;
  padding: 20px 20px 20px 30px;
  font-weight: bold;
  font-style: italic;
}

.header-wrap > h2 > a {
  padding: 20px 20px 20px 30px;
}

#logo > a:hover {
  color: #00ddff;
}

nav {
  float: right;
}

nav > ul > li {
  position: relative;
  float: left;
}

nav > ul > li > a {
  color:#505859;   
  display: block; 
  padding:24px 20px 24px 20px;
}

.drop-down {
  display: none;
  position: absolute;
  border: 2px solid lightgray;
  background: #fff;
  width: 200px;
  z-index: 1;
}

.drop-down > li {
  display: block; 
  padding:10px;
}

li:hover > .drop-down {
  display: block;
}

li.list {
  border-top: 2px solid lightgray;
}

/*Listing nav bar*/

.listing-nav-bar > nav > ul > li {
  font-size: 18px;
  font-weight: bold;
}


/*Home page*/

.main-search {
  position: absolute;
  top: 100px;
  padding: 60px;
  width: 80%;
  color: #fff;
  text-shadow: 2px 1px black;
}

.main-search > form > input {
  border: 1px solid black;
  border-radius: 5px;
}

form > label {
  padding: 5px;
}

a.btn, input.btn[type="submit"] {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: baseline;
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  background: #009bf5;
  border: 2px solid lightgray;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

a.btn:hover, input.btn[type="submit"]:hover {
  background: #00649F;
  color: white;
}

a.delete, input.delete[type="submit"] {
  background: #FF7373;
  text-weight: lighter;
}

a.delete:hover, input.delete[type="submit"]:hover {
  background: #A62525;
}

form.search > input[type="text"] {
  color: black;
  padding: 5px;
  font-size: 13px;
}

/*Listings index*/

#map { 
  position: absolute;
  width: 40%; 
  height: 500px; }

div.map-container{
  float: left;
  width: 40%;
  padding: 5px 30px 20px 20px;
  clear: both;
  height: 500px;
}

.search-results {
  float: left;
  width: 50%;
}

a.listing {
  border: 2px solid lightgray;
  width: 250px;
  float: left;
  margin: 5px;
  padding: 5px;
  background: #fff;
}

div.med-photo {
  text-align: center;
  width: 250px;
  height: 150px;
  overflow: hidden;
}

div.large-photo {
  max-width: 550px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

div.small-photo {
  width: 50px;
  height: 50px;
  outline: 2px solid lightgray;
}

div.med-photo > img {
  max-width: 100%;
  max-height: 100%;
}

div.large-photo > img {
  max-width: 100%;
  max-height: 100%;
}

div.large-photo > ul > li > img {
  max-width: 100%;
  max-height: 100%;
}

div.small-photo > img {
  max-width: 100%;
  max-height: 100%;
}

div.dot > img {
  max-width: 100%;
  max-height: 100%;
}

.search {
  margin: 20px 20px 20px 20px;
}

.content-bar {
  margin: 25px;
  float: left;
}

.content > .content-bar {
  margin: 25px;
}

li.float {
  margin: 10px;
}

.float {
  max-width: 300px;
  float: left;
}

#description {
  width: 250px;
  padding-right: 10px;
}

td{
  padding: 0px 10px;
}
.divider {
  border-left: 2px solid lightgray;
}

.top-divider {
  border-top: 2px solid lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.interior-content{
  margin: 10px;
  border: 2px solid lightgray;
  padding: 10px;
  background: white;
}

div.interior-content {
  border: none;
  background: transparent;
  padding: 0;
}

.input > label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

.input > input[type="text"], input[type="password"], textarea, input[type="date"], input[type="number"], input[type="select"] {
  padding: 5px 5px;
  border: 1px solid lightgray;
}

.input > input[type="submit"] {
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid lightgray;
}

.dates > input[type="text"] {
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid lightgray;
}

h3.center {
  text-align: center;
  margin: 10px;
}

ul.buttons {
  float: left;
}

ul.buttons > li {
  margin: 10px;
  float: left;
}

ul.rep-content > li {
  margin: 10px;
  border-top: 2px solid lightgray;
  padding: 10px 0;
}

ul.rep-content > li > .float {
  margin: 10px;
}

article.content-bar {
  min-width: 400px;
  max-width: 500px;
}

ul.listing-buttons {
  float: right;
}

div.caption {
  margin: 0 10px 10px 0;
}

.flash {
  margin: 30px;
}

.success{
  top: 20px;
  position: absolute;
  color: #009bf5;
}

.error {
  color: #FF7373;
}

.user-form {
  min-width: 300px;
  border-right: 2px solid lightgray;
}

textarea {
  height: 100px;
  width: 300px;
}

.primary {
  background: #009bf5;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

p {
  margin: 10px 0 10px 0;
}

strong.badge {
  background: #009bf5;
  padding: 3px 7px;
  border-radius: 10px;
  color: white;
  font-weight: normal;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
}

section.wide-list {
  width: 100%;
}

.wide-list > ul > li > a{
  margin: 0 10px 0 10px;
}

/*Photo carrousel*/

#carrousel {
  position: relative;
  display: block;
  width: 550px;
  height: 370px;
}

#carrousel > ul {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 1650px;
}

#carrousel > ul > li {
  float: left;
  width: 550px;
  height: 370px;
}

#carrousel-nav > span {
  cursor: pointer;
}

#carrousel-nav > span:hover {
  color: #009bf5;
}

section.content {
  position: relative;
}

#fb-button {
  position: relative;
  margin: 40px 0;
  width: 147px;
  height: 28px;
  overflow: hidden;
  display: block;
}

#fb-button > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

/*footer*/

.footer {
  padding: 20px;
}

footer > ul > li {
  display: block;
  float: left;
  margin: 20px;
  width: 320px;
}

/*calendar*/

.ui-datepicker {
  width: 250px;
  height: 250px;
}

.calendar {
  margin: 20px;
  display: block;
  width: 1100px;
  clear: both;
}

.calendar > .ui-datepicker > .ui-datepicker-header > .ui-datepicker-title {
  margin: auto;
  font-align: center;
}

.calendar > .ui-datepicker > .ui-datepicker-calendar > tbody > tr > td.blue > a { 
    background-color: #009bf5 !important;
    background-image:none !important;
}

.calendar > .ui-datepicker > .ui-datepicker-calendar > tbody > tr > td > a { 
    background-color: #FF7373 !important;
    background-image: none !important;
}

body > #ui-datepicker-div {
  display: none;
}