/* Reset styles */

html, body, header, h1, h2, nav, ul, li, a, footer, div, p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: baseline;
}

input[type="text"],
button,
textarea {
  background: trasparent;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  border: 0;
  display: inline-block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  color: #505859;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #009bf5;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0 0 0 0;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 0;
}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Nav Bar */

.header {
  background: white;
  border-bottom: 2px solid lightgray;
}

.header-wrap {
  width: 1100px;
}

.header-wrap > h2 {
  float: left;
  width: 20%;
  display: block;
  padding: 20px 0 0 20px;
  color: inherit;
}

.header-wrap > #logo > a {
  display: block;
  color: #009bf5;
  font-weight: bold;
  font-style: italic;
}

#logo > a:hover {
  color: #00ddff;
}

nav > ul.right {
  float: right;
}

nav > ul {
  float: left;
}

nav > ul > li {
  position: relative;
  float: left;
}

nav > ul > li > a {
  color:#505859;   
  display: block; 
  padding:24px 20px 24px 20px;
}

li > a {
  display: block;
  padding:10px 10px 10px 10px;
}

.drop-down {
  display: none;
  position: absolute;
  border: 2px solid lightgray;
  background: #fff;
  width: 200px;
  z-index: 1;
}

li:hover > .drop-down {
  display: block;
}

li > form > div > input {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  display: block;
  padding:10px 10px 10px 10px;
  font-size: 16px;
}

li > form > div > input:hover {
  color: #00ddff;
}

li.list {
  border-top: 2px solid lightgray;
}

/*Listing nav bar*/

.listing-nav-bar > nav > ul > li {
  font-size: 18px;
  font-weight: bold;
}


/*Home page*/

.main-search {
  display: block;
  margin-top: 100px;
  padding: 60px;
  width: 80%;
}

form > label {
  padding: 5px;
}

.btn {
  font-size: 14px;
  color: white;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: none;
  background: #009bf5;
  border: 2px solid lightgray;
  border-radius: 7px;
  margin: 0;
  cursor: pointer;
  text-align: center;
}

.btn:hover{
  color: inherit;
}

/*Listings index*/

.search-results {
  display: block;
  width: 600px;
  margin: 20px;
}

a.listing {
  border: 2px solid lightgray;
  width: 250px;
  float: left;
  margin: 5px;
}

div.med-photo {
  text-align: center;
  width: 250px;
  height: 150px;
  overflow: hidden;
}

div.large-photo {
  max-width: 550px;
  max-height: 500px;
}

div.small-photo {
  width: 50px;
  height: 50px;
  outline: 2px solid lightgray;
}

img {
  max-width: 100%;
  max-height: 100%;  
}

.search {
  margin: 20px 20px 20px 20px;
}

.content-bar {
  margin: 20px;
  float: left;
 
}

.float {
  max-width: 300px;
  float: left;
}

.divider {
  border-left: 2px solid lightgray;
}

.top-divider {
  border-top: 2px solid lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.interior-content{
  margin: 10px;
  border: 2px solid lightgray;
  padding: 10px;
}

div.interior-content {
  border: none;
  padding: 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.input > input {
  padding: 0 5px 0 5px;
}

h3.center {
  text-align: center;
  margin: 10px;
}

.delete {
  background: #FF7373;
  text-weight: lighter;
}

ul.buttons {
  float: left;
}

ul.buttons > li {
  margin: 10px;
  float: left;
}

ul.rep-content > li {
  margin: 10px;
  border-top: 2px solid lightgray;
  padding: 10px 0;
}

ul.rep-content > li > .float {
  margin: 10px;
}

article.content-bar {
  min-width: 400px;
  max-width: 500px;
}

ul.listing-buttons {
  float: right;
}

div.caption {
  margin: 0 10px 10px 0;
}

.flash {
  margin: 20px;
}

.success{
  color: #0c6;
}

.error {
  color: #FF7373;
}






